<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link th:include="/fragments/common::header('Login')">
<style>
	#Loginform{
		margin-top: 10%;
		margin-bottom: 10%;
		background-color: #99ccff;
		width: 40%;
		border-radius: 2rem;
		box-shadow: 0.5rem 0.5rem 4rem #3F596F;
	}
	
	#Loginform legend{
		margin-left: 20%;
	}
	
	#Loginform form{
		width:60%;
	}
	
	#Loginform input[type='text']{
		border-radius: 1rem;
	}
</style>
</head>
<body>
<div th:replace="/fragments/common::top"></div>
<div th:replace="/fragments/common::navbar"></div>

<div id="Loginform" class="container d-flex justify-content-center">
	<fieldset class="flex-fill d-flex justify-content-center mt-5 mb-5">
		<legend>LOGIN</legend>
		<form th:action="@{./login}" method="post">
			<label for="loginid">ID</label>
			<input type="text" id="loginid" name="id" class="form-control flex-fill">
			<label for="loginpw" class="mt-3">PASSWORD</label>
			<input type="text" id="loginpw" name="pw" class="form-control flex-fill">
			<input type="button" class="btn btn-primary mt-3" value="Login">
		</form>
	</fieldset>
</div>

<div th:replace="/fragments/common::footer"></div>
</body>
</html>